/* Estilo Geral */
body{
    font-family: "Montserrat", serif;
    font-style: normal;
}

/* Estilizando o header */

header{
    width: 100vw;
    background-color: #760f0f;
    padding: 40px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
}

.itens {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.nav-item {
    margin-right: 25px;
}

.nav-item a {
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-family: 'Sarala', sans-serif;
}

.nav-item a:hover{
    color: #df9f9f;
}
/* Estilizando a main */

main{
    background-color: rgb(187, 187, 187);
    width: 100vw;
}

main h2{
    font-size: 30px;
}

main span{
    color: #760f0f;
}

main section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 100px;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

main section.sobre-portal{
    background-color: #ffffff;
}

main section .conteudo-section p{
    font-size: 20px;
    width: 50vw;
}

section.quem-somos .conteudo-section h3{
    text-align: center;
    margin-bottom: 20px;
}

section.quem-somos .conteudo-section .equipe{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

section.quem-somos .conteudo-section .equipe .membro-equipe{
    display: flex;
    flex-direction: column;
    align-items: center;

}

section.quem-somos .conteudo-section .equipe .membro-equipe .retrato{
    background-color: #760f0f;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

section.quem-somos .conteudo-section .equipe .membro-equipe .img-pedro{
    background-image: url("../image/pedro.holanda.png");
    background-size: cover;
    background-position: center;

}
section.quem-somos .conteudo-section .equipe .membro-equipe .img-beatriz{
    background-image: url("../image/beatriz.jpg");
    background-size: cover;
    background-position: center;

}
section.quem-somos .conteudo-section .equipe .membro-equipe .img-joao{
    background-image: url("../image/Victor\ Batista.jpg");
    background-size: cover;
    background-position: center;

}
section.quem-somos .conteudo-section .equipe .membro-equipe .img-yohanne{
    background-image: url("../image/yohanne.png");
    background-size: cover;
    background-position: center;

}

section.nosso-proposito .conteudo-section{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}


section.nosso-proposito .conteudo-section .ilustracao{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section.nosso-proposito .conteudo-section .ilustracao img{
    width: 300px;
    border-radius: 20px;
}

section.tecnologias-usadas .conteudo-section .tecnologias{
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

section.tecnologias-usadas .conteudo-section img{
    width: 100px;
}

/* Estilizando o footer */

footer{
    width: 100vw;
    background-color: #760f0f;
    padding: 40px;
    display: flex;
    text-align: justify;
    justify-content: space-between;

}

footer img{
    width: 150px;
}

footer ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
